
/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    letter-spacing: 0.1em;
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 15px 40px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}

/* Active Link Highlight */
.nav-link.active {
    font-weight: bold;
    color: #292626;
}


b {
    padding-right: 4px;
}

nav ul {
    list-style: none;
    display: flex;
    float: right;
    margin-right: 150px;
}

nav ul li {
    margin: 7px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #737373;
}

.logo {
    width: 44px;
    margin-top: -12px;
    position: absolute;
    left: 160px;
}

.brand {
    font-size: 1.3em;
    color: #292626;
    position: absolute;
    left: 220px;
    top: 19px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
/* Landing Section */
.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #EFEBEA;
}

.intro-img {
    float: right;
    margin-bottom: 0;
    height: 100vh;
    margin-left: 10px;
    max-width: fit-content;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 0;
}

.image-tablet {
    display: none;
}

.image-phone {
    display: none;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 205px;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
}

.intro-text h1 {
    font-size: 3em;
    color: #BF9C9E;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
}

.intro-text p {
    font-size: 1.3em;
    color: #292626;
    margin-bottom: 30px;
    line-height: 1.8; /* Increased line height */
}

.button {
    padding: 10px 20px;
    background-color: #BF9C9E;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    padding: 12px 28px 10px 28px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C9C3C0;
}


/* Projects Section */
.projects {
    width: 100%;
    padding: 30px 0;
    background-color: #292626;
    color: #fff;
    text-align: left;
}

.projects h2 {
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 0.2em;
    margin-bottom: 3%;
    margin-top: 6%;
    margin-left: 225px;
}

.project-row {
    display: flex;
    justify-content: space-between;
    margin: 40px 225px 40px 200px; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.project-item:hover .overlay {
    opacity: 1;
}

.project-item {
    position: relative;
    margin-left: 25px;
    margin-bottom: -15px;
    border-radius: 10px;
    overflow: hidden; 
    opacity: 0; /* Initially hidden */
    transform: translateY(40px); /* Start 100px below */
    transition: all 0.5s ease-out; /* Smooth transition */
    cursor: pointer;
}

.project-description{
    position: absolute;
    top: 9%;
    left: 8%;
    font-size: 1.6rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    z-index: 2;
}

#project-year{
    color: #BF9C9E;
    top: 5%;
    font-size: 1.1rem;
    letter-spacing: 0.2em;
}

.project-item:hover .project-description{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2 0.2;
}

/* Page transition */

.page-transition {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efebea;
    z-index: 100;
    transition: top 0.5s ease-in-out;
}

.page-transition.active {
    top: 0;
    transition: top 0.5s ease-in-out;
}


.project-item.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
    border-radius: 10px;
}

.project-item.large {
    flex: 2; /* Larger size */
}

.project-item.small {
    flex: 1; /* Smaller size */
}


/* Contact Section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background-color: #efebea;
    color: #292626;
    padding-top: 6%;
}

.contact h2 {
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 0.2em;
    margin-left: 225px;
    text-align: left;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 225px;
    margin-right: 225px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 47vh;
}

.contact-item.phone {
    background-color: #BF9C9E;
    color: #292626;
}

.contact-item.email {
    background-color: #fff;
    color: #292626;
}

.contact-item.address {
    background-color: #C9C3C0;
    color: #292626;
}

.contact-item img {
    width: 150px; 
    height: auto; 
    margin-top: 10%;
    
}

.contact-item p {
    font-size: 1.3em;
    margin-bottom: 20%;
} 

.pfeil-icon img {
    width: 70px; 
    height: auto;
}

    
.pfeil-icon {
    bottom: 20px;
    cursor: pointer;
    text-align: center;
}

/* big/medium Desktop */

@media only screen and (max-width: 1700px) {

    header {
        padding: 15px 40px;
        height: 52px;
        font-size: 0.9em;
    }

    nav ul {
        margin-right: 115px;
    }

    nav ul li {
        margin: 4px 22px;
    }

    .brand {
        font-size: 1.2em;
        left: 180px;
        margin-top: -3px;
    }

    .logo {
        width: 40px;
        margin-top: -11px;
        left: 130px;
    }

    .intro-text {
        left: 160px;
    }
    
    .intro-text h1 {
        font-size: 2em;
    }
    
    .intro-text p {
        font-size: 1.1em;
    }
    
    .button {
        border-radius: 12px;
        font-size: 0.9em;
        padding: 12px 22px 10px 22px;
    }

    .project-row {
        margin: 40px 180px 40px 155px; 
    }
    
    .projects h2 {
        font-size: 2em;
        margin-left: 180px;
    }

    .project-description{
        top: 9%;
        font-size: 1.4rem;
    }
    
    #project-year{
        font-size: 0.9rem;
    }

    .contact h2 {
        font-size: 2em;
        margin-left: 180px;
    }

    .contact-item {
        width: 23vw;
        height: 38vh;
    }

    .contact-item img {
        width: 100px;   
    }

    .contact-item p {
        font-size: 1.1em;
        text-align: center;
    } 

    .contact-info {
        margin-left: 180px;
        margin-right: 180px;
    }

    .pfeil-icon img {
        width: 55px; 
    }
}

/* big Tablet / Laptop */

@media only screen and (max-width: 1200px) {
    
    header {
        padding: 12px;
        height: 42px;
        font-size: 0.72em;
    }

    nav ul {
        margin-right: 120px;
    }

    nav ul li {
        margin: 4px 15px;
    }

    .brand {
        font-size: 1.3em;
        left: 150px;
        margin-top: -6px;
    }

    .logo {
        width: 35px;
        margin-top: -11px;
        left: 106px;
    }

    .intro-text {
        left: 130px;
    }
    
    .intro-text h1 {
        font-size: 1.6em;
    }
    
    .intro-text p {
        font-size: 0.9em;
    }
    
    .button {
        border-radius: 10px;
        font-size: 0.72em;
        padding: 10px 18px 8px 18px;
    }

    .project-row {
        margin: 40px 150px 40px 125px; 
    }
    
    .projects h2 {
        font-size: 1.6em;
        margin-left: 150px;
    }

    .project-description{
        top: 10%;
        font-size: 1rem;
    }
    
    #project-year{
        font-size: 0.72rem;
    }

    .contact h2 {
        font-size: 1.6em;
        margin-left: 150px;
    }

    .contact-item {
        width: 22.8vw;
        height: 40vh;
    }

    .contact-item img {
        width: 90px;   
    }

    .contact-item p {
        font-size: 0.9em;
    } 

    .contact-info {
        margin-left: 150px;
        margin-right: 150px;
    }

    .pfeil-icon img {
        width: 45px; 
    }
}

/* Tablet */

@media only screen and (max-width: 992px) {
    
    header {
        padding: 15px 40px;
        height: 52px;
        font-size: 0.9em;
    }

    nav ul {
        margin-right: 10px;
    }

    nav ul li {
        margin: 4px 22px;
    }

    .brand {
        font-size: 1.2em;
        left: 80px;
        margin-top: -3px;
    }

    .logo {
        width: 40px;
        margin-top: -11px;
        left: 22px;
    }

    .intro-text {
        left: 60px;
        top: 30%;
    }
    
    .intro-text h1 {
        font-size: 2em;
        width: 170%;
    }
    
    .intro-text p {
        font-size: 1.1em;
        width: 170%;
    }
    
    .button {
        border-radius: 12px;
        font-size: 0.9em;
        padding: 12px 22px 10px 22px;
    }

    .image{
        display: none;
    }
    
    .image-tablet {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        padding: 0;
    }

    .image-phone{
        display: none;
    }
    
    .project-row {
        margin: 40px 75px 40px 55px; 
    }
    
    .projects h2 {
        font-size: 1.6em;
        margin-left: 80px;
    }

    .project-item:hover .project-description{
        opacity: 0;
    }

    .contact {
        height: 50vh;
    }

    .contact h2 {
        font-size: 1.6em;
        margin-left: 80px;
    }

    .contact-item {
        width: 26vw;
        height: 20vh;
    }

    .contact-item img {
        width: 90px;   
    }

    .contact-item p {
        font-size: 0.9em;
    } 

    .contact-info {
        margin-left: 80px;
        margin-right: 80px;
    }

    .pfeil-icon img {
        width: 45px; 
    }
}

/* small Tablet */

@media only screen and (max-width: 768px) {

    .intro-text {
        left: 60px;
        top: 35%;
    }
    
    .contact-item {
        width: 24vw;
        height: 20vh;
    }

    .contact-item p {
        font-size: 0.72em;
    } 
}

/* Phone */

@media only screen and (max-width: 600px) {
    
    header {
        height: 55px;
    }

    #about-link {
        display: none;
    }

    #portfolio-link {
        display: none;
    }

    #contact-link {
        display: none;
    }

    .brand {
        font-size: 1.4em;
        left: 37%;
        margin-top: -2px;
    }

    .logo {
        width: 40px;
        margin-top: -9px;
        left: 25%;
    }

    .intro-text {
        left: 20px;
        top: 33%;
    }
    
    .intro-text h1 {
        font-size: 1.6em;
        width: 260%;
        margin-bottom: 25px;
    }
    
    .intro-text p {
        font-size: 0.9em;
        width: 280%;
        margin-bottom: 20px;
    }
    
    .button {
        padding: 12px 20px 10px 20px;
    }   

    .image{
        display: none;
    }
    
    .image-tablet {
        display: none;
    }

    .image-phone{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        padding: 0;
    }

    .intro-img {
        margin-left: 0px;
    }

    .projects h2 {
        font-size: 1.5em;
        margin-left: 40px;
    }

    .project-row {
        margin: 20px 37px 40px 15px;
    }

    .contact {
        height: 100vh;
    }

    .contact h2 {
        font-size: 1.5em;
        margin: 12px 40px 5px;
    }

    .contact-item {
        width: 70vw;
        height: 22vh;
    }

    .pfeil-icon img {
        margin-bottom: -30px; 
    }

    .contact-item p {
        font-size: 0.9em;
    } 
}
